.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding: 1rem 1rem;
    gap: 2rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}

.logo {
    max-width: 3rem;
    align-self: center;
}

.header h1 {
    text-align: left;
    align-self: flex-start;
    flex: 1;
}

#profile {
    height: 3rem;
    width: 3rem;
    align-self: center;
    border: 0;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
}

#profile:hover {
    cursor: pointer;
}

#profile img {
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 50%;
    position: fixed;
    animation-duration: 500ms;
    animation-name: circle;
    animation-iteration-count: 1;
    width: 64px;
    height: 64px;
    background-color: transparent;
    box-shadow: inset 0 0 64px 0 white;
    backface-visibility: hidden;
}

@keyframes circle {
    from {
        transform: scale(0);
        box-shadow: inset 0 0 64px 0 white;
    }

    to {
        transform: scale(1);
        box-shadow: inset 0 0 64px 0 transparent;
    }
}

@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem;

    }
}