.sidebar {
    background-color: var(--secondary-background-color);
    box-shadow: 0.25rem 0 0.5rem -0.25rem rgba(0, 0, 0, 0.7);
    width: fit-content;
    max-width: 25vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
}

.sidebar nav {
    flex: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        max-width: 90vw;
    }
}