.sidebar {
    background-color: var(--secondary-background-color);
    width: fit-content;
    max-width: 22vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
}

.sidebar nav {
    flex: 1;
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        max-width: 90vw;
    }
}