.sidebar {
    background-color: var(--secondary-background-color);
    min-width: fit-content;
    max-width: 22vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.sidebar nav {
    flex: 1;
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .sidebar {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1rem;
        margin-right: -90vw;
        transition: transform 250ms cubic-bezier(.4,0,.3,1);
        height: inherit;
        width: 70vw;
    }

    .sidebar p {
        word-wrap: normal;
        width: inherit;
    }

    .hidden {
        transform: translateX(-100%);
        
    }
}