.sidebarButton {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-weight: 600;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}

.sidebarButton:hover {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
}

.sidebarButton span {
    font-size: 1.5em;
    vertical-align: middle;
}

.buttonLabel {
    margin-left: 1rem;
}

@media screen and (max-width: 480px) {
    .sidebarButton {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}